html {
	background-color: white;
	color: navy;
}

header {
	text-align: center;
}

.column-1 {
	width: 50%;
	float: left;
	display: inline-block;
	text-align: center;
}

.column-2 {
	width: 50%;
	float: left;
	display: inline-block;
	text-align: center;
}

footer {
	color: gray;
	text-align: center;
	margin-top: 15em;
}

footer div {
	text-align: center;
}