header, h2, .about, #resource_list{
    text-align: center;
}

#site_title {
    font-family: "kaushan script", cursive;
    font-size: 38pt;
}

header {
    background-color: #1f1f47;
    color: white;
}

h1 {
    text-shadow: -0.03em -0.03em 0 rgba(0,0,0,0.4);
}

h2 {
    text-shadow: 1px 1px 0.03em rgba(0,0,0,0.5);
}
